<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/index :: head}"><title></title></head>
<body>
<div class="footer text-center" th:fragment="footer"
     style="width: 100%; height: 48px; border: 1px solid #ccc;padding: 0.5em;">
    <span>© Bookshop - Customer</span>
</div>
<div class="footer text-center" th:fragment="footer-vendor"
     style="width: 100%; height: 48px; border: 1px solid #ccc;padding: 0.5em;">
    <span>© Bookshop - Vendor</span>
</div>
</body>
</html>