<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookshop</title>
    <link href="/css/style.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="mask d-flex align-items-center h-100 gradient-custom" style="min-height: 100vh">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-5">
                        <h2 class="text-uppercase text-center mb-5">Register</h2>
                        <form action="#" th:action="@{/register}" th:object="${user}" method="POST">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="username">Username</label>
                                <input type="text" th:field="*{username}" id="username"
                                       class="form-control" required/>
                                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                                      class="text-danger"
                                ></span>
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="password">Password</label>
                                <input type="password" th:field="*{password}" id="password"
                                       class="form-control" required/>
                                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                      class="text-danger"
                                ></span>
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="confirm-password">Repeat Password</label>
                                <input type="password" th:field="*{confirmPassword}" id="confirm-password"
                                       class="form-control"
                                       required/>
                                <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"
                                      class="text-danger"
                                ></span>
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="email">Email</label>
                                <input type="email" th:field="*{email}" id="email"
                                       class="form-control"
                                       required/>
                                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                      class="text-danger"
                                ></span>
                            </div>

                            <div class="form-check d-flex justify-content-center mb-4">
                                <input class="form-check-input me-2" type="checkbox" value="" id="privacy" required/>
                                <label class="form-check-label" for="privacy">
                                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                                </label>
                            </div>
                            <div class="text-center mb-4">
                                <div class="d-flex justify-content-center">
                                    <div class="form-check form-check-inline" th:each="roleType : *{roleTypes}">
                                        <input class="form-check-input" type="radio" th:field="*{role}"
                                               th:id="${{roleType.name().toLowerCase()}} + 'Role'" th:value="${{roleType}}" />
                                        <label class="form-check-label" th:for="${{roleType.name().toLowerCase()}} + 'Role'"
                                               th:text="${{roleType.name().toLowerCase()}}"/>
                                    </div>
                                </div>
                                <span th:if="${#fields.hasErrors('role')}" th:errors="*{role}"
                                      class="text-danger block"
                                ></span>
                            </div>
                            <div th:if="${#fields.hasGlobalErrors()}" class="mb-2 text-center">
                                <span th:each="err : ${#fields.globalErrors()}" th:text="${err}"
                                      class="text-danger"/>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="submit"
                                        class="btn btn-success btn-block btn-lg gradient-custom-4 text-light">Register
                                </button>
                            </div>

                            <p class="text-center text-muted mt-5 mb-0">Have already an account?
                                <a href="/login" class="fw-bold"><u>Login here</u></a></p>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>